.App {
  text-align: center;
  display:flex;
  align-items:center;
  justify-content:center;
  height:100vh;
  border:1px solid rgba(0, 0, 0, 0.507);
  background-color:#404349;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Qcontainer{
  text-align:left;
  background-color:#fbf161;
  width:60%;
  height:fit-content;
  padding:2rem;
  border-radius:15px;
  font-family:serif;
}
.Qcontainer h3{
  text-align:center;
  font-weight:600;
}
.Qcontainer .btn-outline-dark{
  width: 85%;
  margin:10px;
}
.R-container{
  background-color:#61dafb;
  border:1px solid black;
  padding:2rem;
  width:50%;
  border-radius:15px;
}

.R-container p{
  font-weight:500;
}

.btn-container{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:2rem;
}